// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";

.nav-link {
  text-decoration: none;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  color: white;
  text-shadow: 3px 3px 3px black;
}
